:root {
  --bg: #11433d;
  --panel: #e6e2d8;
  --ink: #2b2b2b;
  --accent: #4b6b5c;
  --danger: #299d8b;
  --kevin: #cc9503;
  --kosmi: #a1e5dc;
  --great: #344D43;
  --lovekita: #293E36;
  --ikawlangmahalko: #1F2F29;
  --sayangathinditayo: #151F1B;
}

* {
  box-sizing: border-box;
  font-family: monospace;
  color: var(--kosmi);
}

body {
  margin: 0;
  background: var(--ikawlangmahalko);
  color: var(--ink);
}

.app-header {
  padding: 5px;
  text-align: center;
  background: var(--panel);
  border-bottom: 2px solid var(--ink);
  background-color: var(--lovekita);
}

.summary,
.capital-actions,
.counts {
  display: flex;
  gap: 10px;
  padding: 10px;
}

.summary div,
.counts input {
  flex: 1;
}

input, textarea, button {
  width: 100%;
  padding: 8px;
  border: 2px solid var(--ink);
  background: var(--panel);
}

button {
  cursor: pointer;
  background-color: #cc9503;
  border-radius: 10px;
  max-width: 150px;
  margin: 2px;
  color: var(--ink);
}

.tabs {
  display: flex;
}

.tab {
  flex: 1;
  padding: 10px;
}

.tab.active {
  background: var(--accent);
  color: white;
}

.receivable {
  padding: 10px;
  width: 130px;
  border-radius: 10px;
}

section {
  height: 300px;
  width: 97%;
  margin: auto;
  overflow-y: auto;
  border: 2px solid var(--great);
  border-radius: 10px;
  background: var(--sayangathinditayo);
}

.item {
  background: var(--great);
  border: 2px solid var(--ink);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.item:active {
  transform: scale(0.99);
}


.item-header {
  display: flex;
  justify-content: space-between;
}

.check-btn {
  width: 42px;    
  height: 42px;   
  font-size: 18px;  
  border-radius: 12px; 
  color: var(--ink)
}

#floatingAddBtn {
  position: fixed;
  right: 16px;
  bottom: 16px;
  width: 56px;
  height: 56px;
  font-size: 26px;
  border-radius: 50%;
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

.modal-box {
  background: var(--great);
  padding: 16px;
  width: 90%;
  max-width: 400px;
  border: 2px solid var(--bg);
  color: var(--kosmi);
}

.modal-box input,
.modal-box textarea {
  background-color: var(--accent);
  color: var(--kosmi);
  border: 2px solid var(--bg);
}

.modal-box input::placeholder,
.modal-box textarea::placeholder {
  color: rgba(161, 229, 220, 0.6); 
}


.modal-actions {
  display: flex;
  gap: 10px;
}

#totalCapital {
  border-radius: 5px;
  width: 130px;
  background-color: var(--accent);
  font-weight: bold;
}
#totalReceivable {
  border-radius: 5px;
  width: 130px;
  background-color: var(--danger);
  font-weight: bold;
}

.capital-actions.vertical {
  display: flex;
  flex-direction: column;
  
  gap: 6px; 
  padding: 10px;
}


.tab-area {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 6px;
  padding: 10px;
}

.tabs {
  grid-column: 1 / -1;
  display: contents;
}

.tab {
  grid-row: 1;
  max-width: none;
  color: var(--ink)
}

.counts {
  grid-column: 1 / -1;
  display: contents;
}

.counts input {
  grid-row: 2;
  text-align: center;
  font-weight: bold;
}

.counts input {
  background: var(--accent);
  border-radius: 8px;
  font-size: 14px;
}

.tab-area {
  max-width: 97%;
  margin: 0 auto;
}

.search-bar {
  padding: 10px;
  max-width: 97%;
  margin: 0 auto;
}

.search-bar input {
  width: 100%;
  border-radius: 8px;
  border: solid var(--accent)
}

.item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.item-title {
  display: flex;
  flex-direction: row; 
  align-items: center; 
  cursor: pointer;
  gap: 6px; 
}

.item-name {
  font-weight: bold;
  font-size: 15px;
}

.item-date {
  font-size: 12px;
  opacity: 0.8;
  margin-left: 6px;
}

.item-details {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease;
  padding-left: 4px;
}

.item-details.open {
  max-height: 200px;
  margin-top: 6px;
}

.item-details div {
  font-size: 13px;
  margin: 2px 0;
}

.arrow {
  display: inline-block;
  margin-right: 8px;
  transition: transform 0.3s ease;
  font-size: 14px;
  cursor: pointer;
}

.arrow.rotate {
  transform: rotate(180deg);
}
